* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #0084ff, #ff0055);
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:  center;
}

.mainContainer {
  display: flex;
  border: 0.1rem solid #eee;
  border-radius: 1.2rem;
  overflow: hidden;
}

.contactInfo {
  width: 37rem;
  height: 58rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: #ffffff09;
  backdrop-filter: blur(60px);
}

.image {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.image img {
  border: 2px solid #0099ff;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.buttons {
  width: 85%;
}

.infoButton {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.3rem;
  font-size: 1.8rem;
  border: 1px solid transparent;
  background: #ffffff20;
  border-radius: 1rem;
  padding-left: 1.5rem;
}

.infoButton:hover {
  background: transparent;
  transition: 200ms;
  border-color: #eeeeee8f;
}

.buttons .infoButton p {
  font-size: 1.4rem;
  margin-left: 1.5rem;
}

.buttons .infoButton a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

#mobileButton {
  display: flex;
  width: 100%;
  color: #eee;
  align-items: center;
  padding: 0.7rem;
  font-size: 1.4rem;
  border: 1px solid transparent;
  background: #ffffff20;
  border-radius: 1rem;
  padding-left: 1.5rem;
}

#mobileButton p {
  margin-left: 1.5rem;
}

#mobileButton:hover {
  background: transparent;
  transition: 200ms;
  border-color: #eeeeee8f;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  background-color: #fff;
  height: 58rem;
  overflow: hidden;
  max-width: 39rem;
  animation-name: starting;
  animation-duration: .7s;
  transform: translate(-30rem);
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes starting {
  to {
    transform: translate(0rem);
    opacity: 1;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem;
  padding: 0 2.5rem;
  background-color: #eee;
  width: 100%;
}

.header h2 {
  font-size: 2.3rem;
}

#closeForm {
  border: none;
  font-size: 3rem;
  margin-top: 0.8rem;
}

#closeForm:hover {
  cursor: pointer;
}

.form {
  background-color: #f8f8f8;
  padding: 1.3rem 2.3rem;
  margin: 0 auto;
}

.form-control {
  position: relative;
  padding: 0.5rem 0;
}

#form-control-text {
  position: relative;
  padding: 0.5rem 0;
}

#form-control-text label {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.form-control label {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  border: none;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  padding: 1.2rem;
}

#form-control-text textarea {
  border-radius: 1rem;
  border: 2px solid #f0f0f0;
  resize: none;
  width: 100%;
  padding: 1.2rem;
}

.form button {
  padding: 1.4rem;
  width: 100%;
  margin-top: 0.1rem;
  background-color: #0077ff;
  border: none;
  border-radius: 1.2rem;
  color: #fff;
  font-size: 1.5rem;
}

.form button:hover {
  background-color:  #bb04f3;
  transition: 100ms;
  cursor: pointer;
}

.checkmark-circle-outline {
  font-size: 1.6rem;
  color: green;
  display: none;
}

.close-circle-outline {
  font-size: 1.6rem;
  color: red;
  display: none;
}

.small {
  color: red;
  font-size: 1rem;
  visibility: hidden;
}

.form-control.sucess .checkmark-circle-outline {
 display: inline-block;
}

.form-control.error .close-circle-outline {
  display: inline-block;
}

.form-control.error .small {
  visibility: visible;
}

.form-control.sucess input {
  border-color: green;
}

.form-control.sucess #textarea {
  border-color: green;
}

.form-control.error input {
  border-color: red;
}

.form-control.error #textarea {
  border-color: red;
}

.elementResponse {
  opacity: 0;
  position: absolute;
}

.elementResponse p {
  opacity: 0;
}

div.elementResponse.active {
  position: absolute;
  z-index: 1;
  background-color: #cacaca;
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
  top: 10rem;
  transition: all 800ms ease-out;
  opacity: 1;
}

div.elementResponse.active p {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  opacity: 1;
}

.inactive {
  display: none;
}

@media (max-width: 700px) {

  .mainContainer {
    border: none;
  }

  .info {
    width: 75%;
  }

  .contactInfo {
    height: 58rem;
    overflow: hidden;
    width: 40rem;
    background-color: transparent;
    background: none;
    backdrop-filter: none;
  }
}

